{% extends 'base.html' %}
{% block content %}

<!-- details page  -->
{% if event %}

<h1 class="center-align"> <strong>{{ event.name }}</strong> at {{ event.venue }}</h1>
    {% if event.images|length > 1 %}
    <div class="profile-card">
    <!-- This is an array of images: {{ event.images }} 1 is the header-->
        <img src="{{ event.images.9.url }}" alt="{{ event.name }}" class="profile-image">
    </div>
    {% endif %}

<div class="row">
    <div class="">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ event.name }}</span>

                <p>Date: {{ event.start_date }} at {{ event.start_time }}</p>
                <p>{% if event.end_time %} - {{ event.end_time }}{% endif %}</p>
                <p><strong>Venue:</strong> {{ event.venue }}</p>
                <p><strong>Address:</strong> {{ event.location.address }}</p>
                <p><strong>City:</strong> {{ event.location.city }}</p>
                <p><strong>State:</strong> {{ event.location.state }}</p>
                <p><strong>Country:</strong> {{ event.location.country }}</p>
                </div>
            </div>
        </div>
            <div class="">
                <div class = "card">
                    <div class="card-content"> 
                        <h1>Event Description</h1>
                        <p>{{ event.description }}</p>
                        <div class="external-links">
  
                            {% for platform, links in event.externalLinks.items %}
                                {% for link in links %}
                                    <p><strong>{{ platform|capfirst }}:</strong> <a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <div class="row">
                <form action="{% url 'assoc_external_reservation' %}" method="post">
                    <input type="hidden" name="name" value="{{ event.name}}">
                    <input type="hidden" name="description" value="{{ event.description}}">
                    <input type="hidden" name="date" value="{{ event.start_date}}">
                    <input type="hidden" name="time" value="{{ event.start_time}}">
                    <input type="hidden" name="id" value="{{ event.event_id}}">
                    <input type="hidden" name="venue" value="{{ event.venue}}">
                    <input type="hidden" name="photo_url" value="{{ event.images.1.url }}">
                    {% csrf_token %}           
                    <div class="row">
                        <div class="input-field col s4">
                            <a class="btn-floating btn waves-effect waves-light red white-text disabled" href="javascript:decrement()" id="minus-button">-</a>
                        </div>
                        <div class="input-field col s4">
                            <label for="guests">Number of Guests:</label>
                            <input type="number" name="guests" min="0" max="10" value="0" id="guests">
                        </div>
                        <div class="input-field col s4">
                            <a class="btn-floating btn waves-effect waves-light white-text" href="javascript:increment()"" id="plus-button">+</a>
                        </div>
                    </div>
                    <button type="submit" class="btn"><i class="fas fa-calendar-plus"></i> I'm Going!</button>
                </form>
            </div>         

            <div class="container-fluid">
                <div class="scroll-container">
                    <div class="d-flex">
                        {% for image in event.images %}
                        <div class="image-card">
                            <img src="{{ image.url }}" alt="{{ event.name }}">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


{% else %}
    <p>{{ error }}</p>
{% endif %}
{% if request.user == event.owner %}
<div class = "options">
    <h2>User Options</h2>
    <a class="btn" href="{% url 'event_edit' event.id %}"><i class="fas fa-edit"></i>Edit</a>
    <br>
    <a class="btn" href="{% url 'event_delete' event.id %}"><i class="fas fa-trash-alt"></i>Delete</a>
    {% endif %}
</div>


<script>
    const minusBtnEl = document.getElementById("minus-button")
    const guestCountEl = document.getElementById("guests")
    const plusBtnEl = document.getElementById("plus-button")
    let guestNum = 0

    function increment() {
        guestCountEl.stepUp()
        minusBtnEl.classList.remove("disabled")
        if (guestCountEl.value >= 10) {
            plusBtnEl.classList.add("disabled")
        }
    }
    function decrement() {
        guestCountEl.stepDown()
        plusBtnEl.classList.remove("disabled")
        if (guestCountEl.value == 0) {
            minusBtnEl.classList.add("disabled")
        }
    }
</script>

{% endblock %}


