/* comment all changes made in here*/

/* Comment this out if you're having trouble seeing text outside containers  */
body {
    background-color: #2d2d2d;
    color: #fff;

}


/* NAV & FOOTER */
nav {
    background-color: #9d45c3;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}
nav a {
    color: #fff; 
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
    font-weight: bold;
    font-size: 20px;
}
nav a:hover {
    color: #0dec66d8;
    transform: scale(1.1) translateY(-10px);
    text-transform: capitalize;

}
nav .brand-logo {
    font-size: 30px;
    font-weight: 300;
    margin-left: 20px;
    color: #fff;
    display: flex; 
    align-items: center; 
}
/* side-nav  */




.transparent-nav{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 50px;
    width: 250px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    margin-top: 65px;
}

.transparent-nav li {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.transparent-nav a {
    display: block;
    margin-top : 30px;
    color: #fff;
    font-family:  'Lucida Sans Unicode',  Arial, sans-serif;
    font-weight: 300;
    font-weight: bold;
    font-size: 20px;
}

.transparent-nav li a {
    transition: all 0.3s ease 0s;
    color: #9d45c3;
}

.transparent-nav li a:hover {
    color: #0dec66d8;
    transform: scale(1.1) translateX(50px);
    text-transform: capitalize;

}


.sidenav.transparent-nav li a:hover {
    text-transform: uppercase;
}

.transparent-nav a:hover {
    color: #0dec66d8;
    transform: scale(1.1) translateX(50px);
    text-transform: capitalize;
}



/* Added styling for logo link to match h1 */
nav .brand-logo a {
    color: #fff;
}

.flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-footer {
    background-color: #9d45c3;
    color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; 
    bottom: 0;
    width: 100%;
    text-align: center;
}
.page-footer a {
    display: inline-block;
    margin: 10px;
    color: inherit;
}

.page-footer a i {
    font-size: 2em;
    display: block;
}

.page-footer a span {
    font-size: 0.8em;
    display: block;
}

/* CONTAINERS */
.container {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 800px;
    background-color: white;
    color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.search-container {
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 600px;
    background-color: white;
    color: #2d2d2d;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    
}

.event-container {
    overflow: hidden;
}


/* scroll container */

.scroll-container {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}

/* collapsible */
.collapsible-header {
    font-size: large;
}

.right-align {
    float: right;
    font-size: large
}

.hub-link {
    font-weight: 300;
    font-size: 14px;
    margin: 0;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

/* TEXT */
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 40px;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 0;
}
.fixed-action-btn{
    margin-bottom: 10px;
    font-size: large;
    text-transform: capitalize;
    font-weight: 300;
}

.fixed-action-btn a {
    color: #cdb710;
    text-transform: capitalize;
    font-weight: 300;
}


/* CARDS */

.card {
    background-color: white;
    color: #2d2d2d;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
}

.event-card {
    background-color: white;
    color: #2d2d2d;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    overflow: hidden;
}

.event-card:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
    transition: 0.3s;
}

.image-card {
    flex: 0 0 auto;
    margin-bottom: 20px;
    margin-right: 15px;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    width: 400px; 
    height: 300px;
    text-align: center; 
    display: inline-block; 
    font-size: 12px; 
    overflow: hidden; 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Text ellipsis for overflowing text */
.event-card h4, .event-card p {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hub-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.image-card:hover .image-card-img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.profile-card {
    background-color: white;
    color: #2d2d2d;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 10px;
    overflow: hidden;
}

.profile-image {
    width: 700px;
    height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}
.smaller-text {
    font-size: small;
}

/* BUTTONS */

.top-right-fab {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logout-button {
    top: 10px;
    right: 10px;
    margin-bottom: 40px;
}


.options a {
    display: inline-block;
    margin: 10px;
    color: inherit;
}

.disabled {
    pointer-events: none;
}

/* FORMS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* IMAGES */

/* Event Image */

.card-img-top {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

/* Details page image */
.image-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

/* MEDIA QUERIES */

/* Footer Navbar Mobile Screens */

@media screen and (max-width: 600px) {
    .page-footer a {
        display: inline-block;
        text-align: space-between;
}

.page-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


    .page-footer a i {
        font-size: 1.5em;
        display: block;
    }
    
    .page-footer a span {
        font-size: 0.8em;
        display: block;
    }



    .tm {
        display: none;
    }

    /* Adjust the font size for smaller screens */
    h1 {
        font-size: 30px;
    }

    p {
        font-size: 16px;
    }



    /* Adjust the logo size for smaller screens */
    nav .brand-logo {
        font-size: 24px;
    }

    .sidenav-trigger {
        display: none;
        
    }

    .fixed-action-btn {
        top: 1px;
        right: 1px;
        size-adjust: 10px;
    }
}

/* For Larger Screens */
@media screen and (min-width: 601px) {
    .page-footer a {
        display: none;
    }

   
}

/* Adjust the font size based on screen width */
@media screen and (max-width: 400px) {
    h1 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }

    nav .brand-logo {
        font-size: 20px;
    }
}

