{% extends 'base.html' %}
{% block content %}

    {% if page_title %}
        <h1>{{ page_title}}</h1>
    {% else %}
        <h1>Event List</h1>
    {% endif %}

    {% if show_filter_options %}
        {% if past_filter == 'show' and event_filter == 'owned' %}
            <a href="{% url 'myownedindex' %}">Hide Past Events</a> 
            | <a href="{% url 'myindex_withpast' %}">Show All My Events</a>
        {% elif past_filter == 'show' and event_filter == 'all' %}
            <a href="{% url 'myindex' %}">Hide Past Events</a> 
            | <a href="{% url 'myownedindex_withpast' %}">Show Only My Owned Events</a>
        {% elif past_filter == 'hide' and event_filter == 'owned' %}
            <a href="{% url 'myownedindex_withpast' %}">Show Past Events</a> 
            | <a href="{% url 'myindex' %}">Show All My Events</a>
        {% else %}
            <a href="{% url 'myindex_withpast' %}">Show Past Events</a> 
            | <a href="{% url 'myownedindex' %}">Show Only My Owned Events</a>
        {% endif %}
    {% endif %}

    <div class="event-container">
        {% if object_list or external_event_list %}
            {% for event in object_list %}
                <a href="{% url 'detail' event.id %}">
                    <div class="col-sm-4">
                        <div class="event-card">
                            <div class="card-body">
                                <h3 class="card-title">{{ event.name }}</h3>
                                <p class="card-text">
                                    Date: {{ event.date }} Time: {{ event.time }}
                                    {% if event.end_time %}
                                        - {{ event.end_time }}
                                    {% endif %}
                                </p>
                                {% if event.image_url %}
                                    <img class="card-img-top" src="{{ event.image_url }}" alt="{{ event.name }}">
                                {% endif %}
                                <!-- we can add more event details here -->
                                <p class="card-text">Venue: {{ event.venue }}</p>
                                {% if event.owner == user %}
                                    <p class="grey-text smaller-text"><i class="fas fa-key"></i> I own this event!</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
            
            <div class="row">
                {% for event in external_event_list %}
                    <a href="{% url 'event_detail' event.id %}">
                        <div class="col-sm-4">
                            <div class="event-card">
                                <div class="card-body">
                                    <h3 class="card-title">{{ event.name }}</h3>
                                    <p class="card-text">Date: {{ event.date }} Time: {{ event.time }}</p>
                                    {% if event.image_url %}
                                    <img class="card-img-top" src="{{ event.image_url }}" alt="{{ event.name }}">
                                    {% endif %}
                                    <!-- we can add more event details here -->
                                    <p class="card-text">Venue: {{ event.venue }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="card-panel red-text center-align">No Events Found</div>
        {% endif %}
    </div>
        
{% endblock %}