{% extends 'base.html' %}
{% block content %}

    {% if page_title %}
        <h1>{{ page_title}}</h1>
    {% else %}
        <h1>Event List</h1>
    {% endif %}

    {% if showhide_past_option %}
        {% if include_past %}
            <a href="{% url 'myownedindex' %}">Hide Past Events</a>
        {% else %}
            <a href="{% url 'myownedindex_withpast' %}">Show Past Events</a>
        {% endif %}
    {% endif %}

    <div class="container2">

        <div class="row">
            <div class="col">
                {% for event in object_list %}
                <div class="card">
                    <a href="">
                        
                        <div class="card-content black-text">
                            <span class="card-title black-text">{{ event.name }}</span>
                            <a class="btn-floating halfway-fab waves-effect waves-light purple lighten-3"><i class="material-icons">go</i></a>
                            <p>
                                {{ event.date }} at {{ event.time }} 
                                {% if event.end_time %}
                                - {{ event.end_time }}
                                {% endif %}
                            </p>
                            {% if event.venue %}
                            <p>Venue: {{ event.venue }}</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% empty %}
                <div class="card-panel red-text center-align">No Events Found</div>
                {% endfor %}
            </div>
        </div>
    </div>
        
{% endblock %}