{% extends 'base.html' %}
{% block content %}

    <h1>Search Events</h1>
    <div class="container2">

        <form action="{% url 'search_results' %}" method="get">
            <br>
            <label for="event_name">Event Name:</label>
            <input name="event_name" type="text">
            <label for="event_name">Venue:</label>
            <input name="venue" type="text">
            <label for="date">Date:</label>
            <input name="date" type="text" id="date">
            <br>&nbsp;<br>
            <button type="submit" class="btn">Search</button>
        </form>
        <br>
    </div>

    <script>
        // this is  js for the datepicker aka Calendar
        const dateEl = document.getElementById('date')
        // M is materialize's global variable
        M.Datepicker.init(dateEl, {
            format: 'yyyy-mm-dd',
            autoClose: true
        })
    </script>
{% endblock %}