{% extends 'base.html' %}
{% block content %}
{% if object %}
<h1> Edit {{object.name}}</h1>
{% else %}
<h1>Add an Event</h1>
{% endif %}
<div class="container2">
    <form action="" method = "POST">
    {% csrf_token %}
        <table>
     {{ form.as_table }}
        </table>
            <div class="center-align">
        <input type="submit" value="Submit!" class="btn">
            </div>
    </form>
</div>

<script>
    // this is  js for the datepicker aka Calendar
    const dateEl = document.getElementById('id_date')
    // M is materialize's global variable
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    })
// Timepicker selects from a 12-hour format
const timeEl = document.getElementById('id_time');
M.Timepicker.init(timeEl, {
    format: 'hh:mm A',
    defaultTime: 'now',
    autoClose: true,
 // onCloseEnd is a cb that runs when the timepicker is closed
    onCloseEnd: function() {
        const time12hr = timeEl.value;
        const [time, modifier] = time12hr.split(' ');
        let [hours, minutes] = time.split(':');
        if (hours === '12') {
            hours = '00';
        }
// if the modifier is PM, add 12 to the hours to convert to 24-hour format
        if (modifier === 'PM') {
            hours = parseInt(hours, 10) + 12;
        }
        timeEl.value = `${hours}:${minutes}:00`;
    }
});

const end_timeEl = document.getElementById('id_end_time');
M.Timepicker.init(end_timeEl, {
    format: 'hh:mm A',
    autoClose: true,
    onCloseEnd: function() {
        const time12hr = end_timeEl.value;
        const [time, modifier] = time12hr.split(' ');
        let [hours, minutes] = time.split(':');
        if (hours === '12') {
            hours = '00';
        }
        if (modifier === 'PM') {
            hours = parseInt(hours, 10) + 12;
        }
        end_timeEl.value = `${hours}:${minutes}:00`;
    }
});

const selectEl = document.getElementById('id_venue');
M.FormSelect.init(selectEl);

</script>
{% endblock %}




