{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's Happening</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
<header class="navbar-fixed top-nav">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li>
                    <h1 class="brand-logo left">What's Happening</h1>   
                        
                    </li>
                </ul>
                <ul class="right flex-nav">
                        <!-- changes below -->
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'events_create' %}">Add Event</a></li>
                            <li><a href="{% url 'index' %}">All Events</a></li>
                            <li><a href="{% url 'search' %}">Search Events</a></li>
                            <li><a href="{% url 'myindex' %}">My Events</a></li>
                                <!-- New link for Venues -->
                            <li><a href="{% url 'venue_list' %}">Venues</a></li>
                            <li>
                                <form method="post" action="{% url 'logout' %}"> 
                                    {% csrf_token %}
                                    <button class="btn-flat white-text logout-button" type="submit"><i class="fas fa-sign-out-alt"></i>Log Out</button>
                                </form>
                            </li>
                        {% else %}
                            <!-- New Sign Up link -->
                            <li><a href="{% url 'signup' %}">Sign Up</a></li>
                            <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <!-- The footer becomes the Nav Bar -->
    <footer class="page-footer">
            <a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a>
            <a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> About</a>
            <a href="{% url 'events_create' %}"><i class="fas fa-calendar-plus"></i> Add Event</a>
            <a href="{% url 'index' %}"><i class="fas fa-calendar-alt"></i> All Events</a>
            <a href="{% url 'search' %}"><i class="fas fa-search"></i> Search Events</a>
            <a href="{% url 'myindex' %}"><i class="fas fa-calendar-check"></i> My Events</a>
        <div class="tm right">
            All Rights Reserved, &copy; 2024 What's Happening &nbsp;
        </div>
    </footer>
</body>
</html>

