{% extends 'base.html' %}

{% block content %}


<div class="row">
  <div class="">
      <div class="card">
          <div class="card-content">
              <span class="card-title">{{ venue.name }}</span>
              {% if address %}
              <p><strong>Address</strong>  {{ venue.address }} </p>
              {% else %}
              <p><strong>No Address Listed</strong></p>
              {% endif %}
              {% if venue.description %}
              <p><strong>Description:</strong> {{ venue.description }}</p>
              {% else %}
              <p><strong>No description available</strong></p>
              {% endif %}
          </div>
      </div>
  </div>
</div>


  {% if request.user == event.owner %}
    <div class = "options">
        <h2>User Options</h2>
        <a class="btn" href="{% url 'venue_update' venue.id %}"><i class="fas fa-edit"></i> Edit Venue</a>
        <a class="btn" href="{% url 'venue_delete' venue.id %}"><i class="fas fa-trash-alt"></i> Delete Venue</a>
        <br>
        <a class="btn" href="{% url 'venue_list' %}"><i class="fas fa-arrow-left"></i> Back to Venues</a>
      </div>
  {% endif %}

  









  {% endblock %}



